body {
    background-image: url(background.jpg);
    background-attachment: fixed;
    cursor: default;
}

a {
    color: rgb(99, 141, 234);
}

a:visited{
    color: rgb(147, 71, 195);
}
a:hover {
    color: blue;
}

header {
    background-color: rgb(84, 26, 150);
    font-size: 200%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 50px;
    box-sizing:border-box;
    border-width:10px;
    border-style:outset;
    border-color: rgb(96, 98, 185);
    padding-left: 5%;
}
main{
    background-color: rgb(201, 240, 244);
    width: 70%;
    position:relative;
    left: 3%;
    top:15px;
    padding-left: 1%;
    padding-right: 1%;
    height: min-content;
}
aside{
    width: 200px; 
    position: fixed;
    top: 30%;
    right: 1%;
    bottom: 10%;
    border-width: 10px;
    border-style:groove;
    border-color: royalblue;
    background-color: rgba(201, 228, 253, 0.856); 
    padding-right: 20px;
    padding-left: 10px;
    color: rgb(39, 29, 185);
    z-index: 3;
    font-size: smaller;
}
footer{
    z-index: 1000;
    background-color: rgb(84,26,150);
    color: white;
    box-sizing:border-box;
    border-width:6px;
    border-style:outset;
    border-color: rgb(96, 98, 185);
}

h1{
    font-family:"Segoe Print", Times, serif;
    font-size: xx-large;
    font-weight: bold;
    padding: 20px;
    color: brown;
}

h1+p{
    font-family: "Comic Sans MS", Times, serif;
    font-weight:lighter;
    word-spacing: 10px;
    padding: 20px;   
}

h1+img+p{
    font-family: "Comic Sans MS", Times, serif;
    font-weight:lighter;
    word-spacing: 10px;
    padding: 20px;   
}

#success{
    color: rgb(35, 196, 115); 
    font-size: 300%;
    text-align: center;
    font-family: "Ink Free", Times, serif;
}
#box1{
    position: relative;
    width: 32%;
    margin-right: 5px;
    background-color: aqua;
    border-width: 3px;
    border-style: groove;
    border-color: blue;
    padding-bottom: 15px;
}
#box2{
    position: relative;
    width: 32%;
    margin-right: 5px;
    background-color: rgb(255, 174, 82);
    border-width: 3px;
    border-style: groove;
    border-color: blue;
}
#box3{
    position: relative;
    width: 32%;
    background-color: rgb(82, 255, 120);
    border-width: 3px;
    border-style: groove;
    border-color: blue;
}
